<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Recent Lists</h2>
      <%= render 'lists/collection', lists: @lists %>

      <%= will_paginate @lists, renderer: BootstrapPagination::Rails, :next_label => 'Next', :previous_label => 'Previous' %>
    </div>
  </div>
</div>